API_PORT=3033
SECRET=good_random_string
HLS_PATH=https://stream.domain.com/
COOKIE_DOMAIN=.domain.com
DATABASE_URL=postgresql://cctv:cctv_password@postgres:5432/cctv_db
BOT_API_ROOT=http://api:3033/
BOT_SECRET=string_from_Token_database
BOT_TOKEN=telegram_bot_token
INTERNAL_ADMIN_ID=usually just "1"
MASTER=true
